<!DOCTYPE html>

<html>

<head>
    <!-- CSS and JS gotten from CDNs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CSS and JS -->
    <link rel="stylesheet" href="css/add_clothing.css">
    <link rel="stylesheet" href="css/bottomBar.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- title of page -->
    <title>Select Way of Adding Clothing - Outfit Picker</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- buttons -->
    <div class="buttons">
        <ul>
            <li>
                <a href="add_clothing/import_from_device" class="btn-large">
                    <p>Import from Device</p>
                </a>
            </li>
            <li>
                <a href="add_clothing/import_from_url" class="btn-large">
                    <p>Import from URL</p>
                </a>
            </li>
        </ul>
    </div>
    <!-- bottom navigation bar -->
    <div class="bottom-nav">
        <a href="/"><i class="material-icons home">home</i><br>Home</a>
        <a href="/clothes" class="teal-text"><i class="material-icons clothes">folder</i><br>Clothes</a>
        <a href="/outfits"><i class="material-icons outfits">nature_people</i><br>Outfits</a>
        <a href="#"><i class="material-icons profile">person</i><br>Profile</a>
    </div>
</body>

</html>