*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*to align any objects to the center*/
.cntr{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}


/*creating the navigation bar*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(212,217,222);

}
nav .current a{
    font-weight: bold;
    border: 2px solid;
    border-right: 10px;
    border-left: 10px;
    border-top: 10px;
    
}
/*hover effect*/
nav a:hover{
    font-weight: bold;
}
.navli {
    display: flex;
    justify-content: space-around;
    width: 500px;
}

.navli a{
    color: black;
}



/*inserting background images for main banners in each page*/
.background1{
    background:rgb(212,217,222);
    background-size: cover;
    padding: 10em 0;
    border-left: 10px;
    color: white;
    text-align: center; 
    height: 100%;
}

.background2{
    background:rgb(212,217,222);
    background-size: cover;
    padding: 23em 0;
    border-left: 10px;
    color: white;
    text-align: center; 
    height: 100%;
}
#usernameAndPassword {
    padding: 20px;
    background-color: white;
    border-radius: 40px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.uname {
    background-color: white;
    color:grey;
    margin: 25px 0;
    
}

.psw {
    background-color: white;
    color: grey;
    margin: 25px 0;
}

.email {
    background-color: white;
    color:grey;
    margin: 25px 0;
    
}
#loginButton {
    border-radius: 100px;
    margin: 20px 0;
    width: 85%;
}

#loginButtonTick {
    position: absolute;
    right: 5%;
}



#b {
    margin-left: 10px;
}


/*CREATE AUTOMATICALLY*/
#heading {
    color: black;
    padding: 20px;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

a {
    color: black;
    font-size: 22.5px;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}
#boxes{
    margin-top:20px;
}

#boxes .box{
    float:left;
    text-align: center;
    width:33%;
    padding:30px;
    padding-left: 50px;
    padding-right: 50px;
}
#boxes .box img{
    width:190px;
    height:190px;
    border-radius: 50%;
}
.img2{
    width:490px;
    height:auto;
}
#boxes .box1,#boxes .box2, .boxa{
    float:left;
    text-align: center;
    width:100%;
    padding:30px;
    padding-left: 50px;
    padding-right: 50px;
}


#boxes .box img:hover,#boxes .box1 img:hover,#boxes .box2 img:hover{
    transform: scale(1.1);
    transition: 1s;
}

body {
  padding-bottom: 63px;
}

.bottom-nav {
  margin-top: 10px;
  position: fixed;
  background-color: #fff;
  width: 100%;
  overflow: auto;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.bottom-nav a {
  color: #444;
  text-decoration: none;
  text-align: center;
  padding: 10px 5%;
  display:inline-block;
}

.bottom-nav a:hover{
  transition: ease-in;
  transition-duration: 0.25s;
  background-color: #eee;
}

.bottom-nav a i{
  display:block; /*remove inline-block spaces*/
  height: 3px;
  margin: 0;
  padding: 0;
}