h1 {
    font-size: 25px;
}

.boxes {
    margin: 10px 0;
    display: inline-flex;
    overflow-y: hidden;
    width: 90%;
    display: flex;
}

.heading {
    display: block;
    color: black;
    background-color: white;
    text-align: center;
}

.boxes .box {
    flex-direction: row;
    float: left;
    margin: 0 10px;
}

.boxes .box img {
    max-width: 100px;
    width: 100%;
}

.boxes .box span {
    display: block;
}