<!DOCTYPE html>
<html>

<head>
    <title>Create Outfit</title><!-- Title for tab-->
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">


    <!-- CSS and JS gotten from CDNs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CSS and JS -->
    <link rel="stylesheet" href="css/bottomBar.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/create_manually.css">
    <!-- title of page -->
    <title>Select Way of Adding Clothing - Outfit Picker</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- start of content-->
    <h1>Choose Clothes</h1>

    <form action="/create_outfit/confirmOutfit" method="POST" enctype="multipart/form-data">

        <span class="heading">
            Tops
        </span>
        <div id="torso" class="boxes">
            <% for( let index = 0; index < Torso.length; index++ ) { %>
            <label class="box">
                <img src="/images/<%= Torso[index].filepath%>" alt="training">
                <input type="checkbox" />
                <span><%= Torso[index].name%></span>
            </label>
            <% } %>
        </div>

        <span class="heading">
            Legs
        </span>
        <div id="legs" class="boxes">
            <% for( let index = 0; index < Legs.length; index++ ) { %>
            <label class="box">
                <img src="/images/<%= Legs[index].filepath%>" alt="training">
                <input type="checkbox" />
                <span><%= Legs[index].name%></span>
            </label>
            <% } %>
        </div>

        <span class="heading">
            Feet
        </span>
        <div id="feet" class="boxes">
            <% for( let index = 0; index < Feet.length; index++ ) { %>
            <label class="box">
                <img src="/images/<%= Feet[index].filepath%>" alt="training">
                <input type="checkbox" />
                <span><%= Feet[index].name%></span>
            </label>
            <% } %>
        </div>

        <span class="heading">
            Head
        </span>
        <div id="head" class="boxes">
            <% for( let index = 0; index < Head.length; index++ ) { %>
            <label class="box">
                <img src="/images/<%= Head[index].filepath%>" alt="training">
                <input type="checkbox" />
                <span><%= Head[index].name%></span>
            </label>
            <% } %>
        </div>

        <span class="heading">
            Arms
        </span>
        <div id="arms" class="boxes">
            <% for( let index = 0; index < Arms.length; index++ ) { %>
            <label class="box">
                <img src="/images/<%= Arms[index].filepath%>" alt="training">
                <input type="checkbox" />
                <span><%= Arms[index].name%></span>
            </label>
            <% } %>
        </div>

        <span class="heading">
            Hands
        </span>
        <div id="hands" class="boxes">
            <% for( let index = 0; index < Hand.length; index++ ) { %>
            <label class="box">
                <img src="/images/<%= Hand[index].filepath%>" alt="training">
                <input type="checkbox" />
                <span><%= Hand[index].name%></span>
            </label>
            <% } %>
        </div>


        <button type="submit" class="btn-large">
            <i class="material-icons right" id="loginButtonTick">check_circle</i>
            Confirm Outfit
        </button>

    </form>

    <!-- bottom navigation bar -->
    <div class="bottom-nav">
        <a href="/"><i class="material-icons home">home</i><br>Home</a>
        <a href="clothes"><i class="material-icons clothes">folder</i><br>Clothes</a>
        <a href="outfits"><i class="material-icons outfits">nature_people</i><br>Outfits</a>
        <a href="profile"><i class="material-icons profile">person</i><br>Profile</a>
    </div>

</body>

</html>