<!DOCTYPE html>

<html>

<head>
    <!-- CSS and JS gotten from CDNs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- CSS and JS -->
    <link rel="stylesheet" href="css/import_from_gallery.css">
    <link rel="stylesheet" href="css/bottomBar.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/importFromImage.js"></script>
    <!-- title of page -->
    <title>Import from Gallery - Add Clothing</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="row">
        <h1>Upload Image of Piece of Clothing</h1>
        <img id="image_chosen" src="#" style="display:none" />
        <form action="/add_clothing/set_categories" method="POST">
            <div class="file-field input-field">
                <div class="btn">
                    <span>Choose</span>
                    <input name="imageToUpload" type="file" onchange="selected(this);" accept=".jpg,.png,.jpeg,.gif">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path" type="text" placeholder="Upload file">
                </div>
            </div>
            <button type="submit" class="btn-large" disabled>Continue</button>
        </form>
    </div>
    <!-- bottom navigation bar -->
    <div class="bottom-nav">
        <a href="/"><i class="material-icons home">home</i><br>Home</a>
        <a href="/clothes"><i class="material-icons clothes">folder</i><br>Clothes</a>
        <a href="/outfits"><i class="material-icons outfits">nature_people</i><br>Outfits</a>
        <a href="/profile"><i class="material-icons profile">person</i><br>Profile</a>
    </div>
</body>

</html>